---
import LayoutSidebar from "../layouts/LayoutSidebar.astro";
import Dashboard from "../components/Dashboard.vue";
import 'dotenv/config';

let resources: string[] = []
try {
    resources = JSON.parse(process.env.RESOURCES_CF_VALS || '[]');
} catch (e) {
    //
}
export const prerender = false
---

<LayoutSidebar>
    <div class="flex flex-col grow px-4 pt-6 box-border">
        <!-- Main widget -->
          <Dashboard client:only="vue" resources={resources} />
    </div>
</LayoutSidebar>