---
import Grid from './Grid.vue';
import ImportUrlsButton from './ImportUrlsButton.vue';
---

<div class="px-4 pt-6">
	<div class="grid">
		<!-- Main widget -->
		<div
			class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
		>
		<ImportUrlsButton client:only="vue" />
		<Grid client:only="vue" />
		</div>
</div>
