---
import LayoutCommon from "./LayoutCommon.astro";
import NavBarSidebar from "./NavBarSidebar.astro";

import { getSession } from "auth-astro/server";

try {
	const session = await getSession(Astro.request);
	if (!session) {
		Astro.redirect("/api/auth/signin");
	}
} catch (error) {
	console.error(error);
}
---

<LayoutCommon>
	<NavBarSidebar />

	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full flex flex-col overflow-y-hidden bg-gray-50 dark:bg-gray-900"
		>
			<slot />
		</div>
	</div>
</LayoutCommon>

<style>
	#main-content {
		max-height: calc(100vh - 70px);
		min-height: calc(100vh - 70px);
	}
</style>
