---
import { SITE_TITLE } from '../lib/constants';
import CopyrightNotice from '../components/CopyrightNotice.astro';
import Alert from "../components/Alert.vue";
import MainLoader from "../components/MainLoader.vue";

const { class: clazz } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/logo.png" type="image/png">
    	<link rel="icon" href="/logo.svg" type="image/svg+xml">
		<title>{SITE_TITLE}</title>

		<script is:inline>
			if (
				localStorage.getItem('color-theme') === 'dark' ||
				(!('color-theme' in localStorage) &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark');
			}
		</script>
	</head>
	<body
		class:list={[
			//
			clazz,
			'bg-gray-50 dark:bg-gray-800',
			'scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem]',
			'scrollbar-track-slate-200  scrollbar-thumb-gray-400',
			'dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700',
		]}
	>
		<slot />
		<Alert client:only="vue" />
		<MainLoader client:load="vue" />
	</body>
</html>

<script>
	import 'flowbite';
</script>

<style is:global>
	@import url('https://fonts.cdnfonts.com/css/inter');
</style>
